body {
    margin: 0;
    padding: 0;
}
#canvas {
    position: absolute;
    top: 100px;
    left: 300px;
    background: black;
}
h1 {
    color: red;
    /* font-size: 16px; */
}
.score {
    position: absolute;
    left: 50px;
    top: 0;
}
.highScore {
    position: absolute;
    left: 200px;
    top: 0;
}
.start {
    position: absolute;
    left: 100px;
    top: 100px;
    display: block;
    width: 50px;
    height: 50px;
    font-size: 20px;

}
.stop {
    position: absolute;
    top: 150px;
    left: 100px;
    display: block;
    width: 50px;
    height: 50px;
    font-size: 20px;

}